<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='public/stylesheets/style.CSS'/>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}

    {{>navigation}}
  </body>
</html>
